@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#111317 50%,#675AFE);
}

.wrapper{
    display: flex;
    background: #fff;
    padding: 30px 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.wrapper h2{
    color: #675AFE;
    font-size: 46px;
}
.wrapper .logos{
    margin-left: 15px;
}
.logos img{
    opacity: 0.3;
    margin: 0 7px;
    transition: opacity 0.3 ease;
}
.logos img:last-child{
    margin-right: 0px;
}